<div>
  <button  (click)="load()" >Load users</button>
  <button  (click)="create()" >Create</button>
</div>

<h2>User</h2>
<pre>
  {{ user | json }}
</pre>

<h2>Users</h2>
<pre>
  {{ users | json }}
</pre>